/* // common  colors */
/* Primary Background Color: Deep Charcoal (#333333) - This dark gray provides a solid background for your content.

Text Color: Light Gray (#bdc3c7) - A lighter gray for text ensures readability against the dark background.

Accent Color: Electric Blue (#3498db) - Use a bright blue for links, buttons, and other interactive elements to add a pop of color and draw attention.

Secondary Accent Color (Optional): Gold (#f1c40f) - If you want to add a touch of luxury and warmth, you can use gold for certain highlights.


*/
:root{

    --primary-background-color: #333333;
    --text-color: #bdc3c7;
    --accent-color:#3498db;
    --secondary-color:#f1c40f;


    --big-button:20px;
    --medium-button:8px;
    --small-button:6px;

    
  }
  